*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.7);
    
}

@font-face {
    font-family: quicksand;
    src: url(fonts/Quicksand-Regular.otf)
  }

body {
    font-family: quicksand;
    color: white;
    background-color: #333;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}

.content h1 {
    font-size: 3rem;
}

.board {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.cell {
    width: var(--cell-size);
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: var(--mark-size);
    transition: color 0.5s ease-in-out;
    font-weight: bold;
    border-color: rgb(136, 136, 136);
}

.board.X .cell.win {
    color: orange;
}

.board.O .cell.win {
    color: aquamarine;
}

.cell.win {
    animation: wobble 1.5s infinite;
    /* font-size: calc(var(--mark-size) * 1.2) */
}

@keyframes wobble {
    0% {
        font-size: calc(var(--mark-size) * 0.9)
    }
    50% {
        font-size: calc(var(--mark-size) * 1.0)
    }
    100% {
        font-size: calc(var(--mark-size) * 0.9)
    }
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}


.board.X .cell:not(.filled):hover::before {
    content: "X";
    color: lightgrey;
}

.board.O .cell:not(.filled):hover::before {
    content: "O";
    color: lightgrey;
}

#restartButton {
    font-size: 1.5rem;
    background-color: white;
    border: 1px solid black;
    padding: 0.25em  0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#restartButton:hover{
    background-color: black;
    color: white;
    border-color: white;
}

#message {
    font-size: 1.5rem;
    font-weight: bold;
}

/* 
.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: "";
    width: calc(var(--mark-size) * 0.15);
    height: var(--mark-size);
    background-color: black;
    position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
    background-color: black;
}


.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before  {
    background-color: lightgrey;
}


.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: "";
    border-radius: 50%;
    
    position: absolute;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * 0.7);
    height: calc(var(--mark-size) * 0.7);
    background-color: white
}

.winning-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
}

.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: 0.25em  0.5rem;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show {
    display: flex;
} */
